body {
	background-color: rgba(244, 227, 210, 0.352);
    margin: 120px 20px;
    padding: 0;
}

.css-article-main {
    font-size: 38px;
    background: rgba(255, 255, 255, 0.585);
    padding: 10px 40px;
    border: 2px solid rgba(114, 28, 28, 0.2);
    box-shadow: 0 10px 30px 9px rgba(0, 0, 0, 0.12);
    line-height: 60px;
    margin: 60px 15px;
    border-radius: 12px;
}

/*This is the commen*/

