body {
	background-color:  rgba(244, 227, 210, 0.352);
	margin-bottom: 1000px;
}

.hero-section {
	display: flex;
	flex-direction: column;
	position: relative;
  background-image: url('image/hero-section-back.jpeg');
}

/* HAMBURGER CONTAINER */

.hamburger-div {
	margin-top: 15px;
	margin-left: 40px;
	width: 60px;
	height: 80px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	cursor: pointer;
}

.line {
	width: 100%;
	height: 8px;
	background-color: #333333b3;
	border-radius: 1px;
}

.header {
	/* font-family: 'great vibes', cursive; */
	margin-top: 50px;
	margin-bottom: 70px;
	display: flex;
}

/* SIR LUOYI */

/* .sirluoyi {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	font-family: 'alex brush';
	font-size: 100px;
	color: rgba(141, 16, 16, 0.978);
	font-weight:600;
	
} */

.sirluoyi {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	font-family: 'times new roman';
	font-size: 100px;
	color: rgba(141, 16, 16, 0.978);
	font-weight: 550;
}

/* TAGLINES */

.tagline1 {
	font-family: serif;
	font-size: 60px;
	justify-content: center;
	text-align: center;
	padding-left: 120px;
	padding-right: 120px;
	margin-bottom: 30px;
}

.tagline2 {
	font-family: 'Inter', sans-serif;
	font-size: 40px;
	justify-content: center;
	text-align: center;
	margin-bottom: 50px;
}

.explore-box-div {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 70px; 
}

.explore-box {
	display: inline-block;
	background-color: rgba(183, 122, 41, 0.568);
	padding: 15px 40px;
	border-radius: 6px;
	color: white;
	font-size: 40px;
	font-family: 'Times New Roman', serif;
	text-decoration: none;
}

/* TOPIC-SECTION */

.topics-div {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}

.categories {
	color: darkred;
	font-size: 40px;
	text-align: center;
	margin-bottom: 20px;
}

.subtopic-div-1 {
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}

.subtopic-div-2 {
	display: flex;
	justify-content: space-around;
}

.topic-box {
	font-size: 30px;
	color: rgba(106, 19, 19, 0.697);
	text-align: center;
	display: flex;
	flex-direction: row;
	margin-left: 10px;
	margin-right: 10px;
	background-color: beige;
	padding: 10px;
	border: 2px solid brown;
}

.philosophy-icon {
	width: 30px;
	height: auto;
	object-fit: fill;
}

