body {
	background-color: rgba(244, 227, 210, 0.352);
    margin: 0;
}

.header {
    display: flex;
    margin-top: 15px;
    font-size: 35px;
}

.header-c1 {
    display: flex;
    color: darkred;
    font-weight: bold;
    flex: 1;
    justify-content: center;
    text-decoration: none;
}

.header-c2 {
    display: flex;
    flex: 2;
    gap: 20px;
    justify-content: center;
    color: rgb(65, 65, 65);
}

.header-c3 {
    display: flex;
    flex: 1;
    align-items: center;
}

.header-c31 {
    width: 100px;
    height: 4px;
    background-color: darkred;
}

.header-c32 {
    width: 80px;
    height: 4px;
    background-color: rgba(139, 0, 0, 0.342);
}

.header-line-bottom {
    height: 2px;
    background-color: rgba(139, 0, 0, 0.315);
    margin-top: 17px; 
    margin-bottom: 30px;
}